.header {
    width: 100%;
    height: 40vh;
}

.header-image {
    position: absolute;
    height: 40vh;
    width: 100%;
}

.header-infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.pro-name {
    margin: 0px;
}

.pro-profession {
    margin: 0px;
}

.header-kine-logo {
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .header-kine-logo {
        height: 20%;
        width: 20%;
    }

    .header-pro {
        font-size: 50%;
    }
}

.header-photo {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}

.photo-pro {
    width: 5em;
    height: auto;
}

.presentation {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;   
}

.presentation-image {
    position: absolute;
    width: 95%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.presentation-text {
    position: relative;
    background-color: white;
    opacity: 0.70;
    text-align: center;
    width: 70%;
    border-radius: 20px;
}

.text-paragraphe {
    font-size: larger;
}

@media only screen and (max-width: 600px) {
    .text-paragraphe {
        font-size: 90%;
    }
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 60%;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 20px;
    padding: 30px;
}

.informations-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations-photo {
    width: 5em;
    height: auto;
}

.activities {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.place-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.place-info-photo {
    width: 25em;
    height: auto;
}

@media only screen and (max-width: 900px) {
    .place {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.footer {
    background-color: darkblue;
    width: 100%;
    height: 5vh;
}